In [1]:
import h5py
import numpy as np
import pandas as pd
import sys

In [5]:
data_100 = pd.read_csv("netflow_day-02", nrows=100)

In [6]:
df = pd.DataFrame(data=data_100)

In [8]:
df.shape

(100, 11)

In [9]:
df.head()

,118781,5580,Comp364445,Comp547245,17,Port05507,Port46272,0,755065,0.1,1042329018
0,118783,6976,Comp450942,Comp829338,6,Port03137,445,1665,1108,300810,250408
1,118785,14178,IP564116,Comp141988,17,5060,5060,1866,0,1477041,0
2,118785,28147,IP564116,Comp141988,17,5060,5060,3326,0,2656305,0
3,118785,48507,IP564116,Comp141988,17,5060,5060,5423,0,4388449,0
4,118785,63173,IP564116,Comp141988,17,5060,5060,7061,0,5745536,0